In [1]:
#1. Read the data and display the fields (and data) of the data using Python Pandas library.
import numpy as np
import pandas as pd
# import numpy as np
df = pd.read_csv('data/housing.csv', delimiter = ',')

display(df.info())
display(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

None

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [2]:
print(df.select_dtypes("object").describe().loc['unique', :])

ocean_proximity    5
Name: unique, dtype: object

In [3]:
unique_ocean_Proximity=df['ocean_proximity'].unique().tolist()
print(unique_ocean_Proximity)

['NEAR BAY', '<1H OCEAN', 'INLAND', 'NEAR OCEAN', 'ISLAND']

In [4]:
null_columns=df.columns[df.isna().any()]
#print(null_columns)

print('Columns with NaN values are:', null_columns)

for c in null_columns:
    if df[c].dtype!='object':
        value = df[c].mean()
    else:
        #print(df[c].mode()[1])
        value = df[c].mode()[0]
        #print (value)
        #value = value[0]  #0 will be the row(s) name
        #print (value)
    df[c].fillna(value,inplace=True)
display(df.info())
display(df)

Columns with NaN values are: Index(['total_bedrooms'], dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20640 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

None

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [5]:
df = pd.get_dummies(df, columns=['ocean_proximity'],drop_first=True) #Remove first level to get k-1 dummies out of k categorical levels.

display(df)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,0,0,1,0
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,0,0,1,0
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,0,0,1,0
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,0,0,1,0
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,1,0,0,0
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,1,0,0,0
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,1,0,0,0
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,1,0,0,0
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,1,0,0,0

In [6]:
from sklearn.model_selection import train_test_split
Xo = df.drop('median_house_value',axis=1).values
y = df.loc[:, 'median_house_value'].values
X = np.c_[np.ones(len(y)), Xo]
X_Tr, X_Ts, y_Tr, y_Ts = train_test_split(X, y, test_size=0.3, random_state=42) 


best_beta = np.linalg.inv(X_Tr.T @ X_Tr) @ X_Tr.T @ y_Tr

print('The closed form estimates are:', np.round(best_beta,2).tolist())

The closed form estimates are: [-2253987.6, -26502.2, -24915.56, 1105.97, -5.87, 105.72, -37.33, 42.31, 39269.68, -41076.06, 135888.55, -6066.05, 3173.01]

In [7]:
x_train_nonNormalized=pd.DataFrame(data=X_Tr,columns=['for intercept','longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income','ocean_proximity_INLAND'
                                                               ,'ocean_proximity_ISLAND','ocean_proximity_NEAR BAY'
                                                              ,'ocean_proximity_NEAR OCEAN'])  # 1st row as the column names

x_train_nonNormalized.to_csv('data_Housing/x_train_nonNormalized.csv', index = False, header=True)



x_test_nonNormalized=pd.DataFrame(data=X_Ts,columns=['for intercept','longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income','ocean_proximity_INLAND'
                                                               ,'ocean_proximity_ISLAND','ocean_proximity_NEAR BAY'
                                                              ,'ocean_proximity_NEAR OCEAN'])  # 1st row as the column names

x_test_nonNormalized.to_csv('data_Housing/x_test_nonNormalized.csv', index = False, header=True)


y_train_nonNormalized=pd.DataFrame(data=y_Tr,columns=['median_house_value'])  # 1st row as the column names

y_train_nonNormalized.to_csv('data_Housing/y_train_nonNormalized.csv', index = False, header=True)


y_test_nonNormalized=pd.DataFrame(data=y_Ts,columns=['median_house_value'])  # 1st row as the column names

y_test_nonNormalized.to_csv('data_Housing/y_test_nonNormalized.csv', index = False, header=True)

OSError: Cannot save file into a non-existent directory: 'data_Housing'

In [144]:
#df.to_csv('data/housing-Clean_nonNormalized.csv', index = False, header=True)

In [145]:
df2=df
toNormalize_columns=df2.iloc[:,0:9].columns
#print(null_columns)

print('Columns are:', toNormalize_columns)
display(df2)

Columns are: Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value'],
      dtype='object')

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,0,0,1,0
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,0,0,1,0
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,0,0,1,0
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,0,0,1,0
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,1,0,0,0
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,1,0,0,0
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,1,0,0,0
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,1,0,0,0
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,1,0,0,0

In [146]:
#toNormalize_columns=df.iloc[:,0:9].columns


#print('Columns are:', toNormalize_columns)
    
    
from sklearn.preprocessing import MinMaxScaler
for c in toNormalize_columns:
    scaler = MinMaxScaler()
    scaler.fit(df2[[c]])
    df2[c]=scaler.transform(df2[[c]])
    print(f'The max and min values are', df2[c].max(), ' and ', df2[c].min())

display(df2)
#print(f'The max and min values are', df['age'].max(), ' and ', df['age'].min())

The max and min values are 1.0  and  0.0
The max and min values are 1.0  and  0.0
The max and min values are 0.9999999999999999  and  0.0
The max and min values are 0.9999999999999999  and  0.0
The max and min values are 0.9999999999999999  and  0.0
The max and min values are 1.0  and  0.0
The max and min values are 1.0  and  0.0
The max and min values are 1.0  and  0.0
The max and min values are 1.0  and  0.0

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN
0,0.211155,0.567481,0.784314,0.022331,0.019863,0.008941,0.020556,0.539668,0.902266,0,0,1,0
1,0.212151,0.565356,0.392157,0.180503,0.171477,0.067210,0.186976,0.538027,0.708247,0,0,1,0
2,0.210159,0.564293,1.000000,0.037260,0.029330,0.013818,0.028943,0.466028,0.695051,0,0,1,0
3,0.209163,0.564293,1.000000,0.032352,0.036313,0.015555,0.035849,0.354699,0.672783,0,0,1,0
4,0.209163,0.564293,1.000000,0.041330,0.043296,0.015752,0.042427,0.230776,0.674638,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
20635,0.324701,0.737513,0.470588,0.042296,0.057883,0.023599,0.054103,0.073130,0.130105,1,0,0,0
20636,0.312749,0.738576,0.333333,0.017676,0.023122,0.009894,0.018582,0.141853,0.128043,1,0,0,0
20637,0.311753,0.732200,0.313725,0.057277,0.075109,0.028140,0.071041,0.082764,0.159383,1,0,0,0
20638,0.301793,0.732200,0.333333,0.047256,0.063315,0.020684,0.057227,0.094295,0.143713,1,0,0,0
20639,0.309761,0.725824,0.294118,0.070782,0.095438,0.038790,0.086992,0.130253,0.153403,1,0,0,0

In [147]:
from sklearn.model_selection import train_test_split
Xo = df2.drop('median_house_value',axis=1).values
y = df2.loc[:, 'median_house_value'].values
X = np.c_[np.ones(len(y)), Xo]
X_Tr, X_Ts, y_Tr, y_Ts = train_test_split(X, y, test_size=0.3, random_state=42) 




best_beta = np.linalg.inv(X_Tr.T @ X_Tr) @ X_Tr.T @ y_Tr

print('The closed form estimates are:', np.round(best_beta,2).tolist())

The closed form estimates are: [0.49, -0.55, -0.48, 0.12, -0.48, 1.4, -2.75, 0.53, 1.17, -0.08, 0.28, -0.01, 0.01]

In [148]:
x_train_MinMax_Normalized=pd.DataFrame(data=X_Tr,columns=['for intercept','longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income','ocean_proximity_INLAND'
                                                               ,'ocean_proximity_ISLAND','ocean_proximity_NEAR BAY'
                                                              ,'ocean_proximity_NEAR OCEAN'])  # 1st row as the column names

x_train_MinMax_Normalized.to_csv('data_Housing/x_train_MinMax_Normalized.csv', index = False, header=True)



x_test_MinMax_Normalized=pd.DataFrame(data=X_Ts,columns=['for intercept','longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income','ocean_proximity_INLAND'
                                                               ,'ocean_proximity_ISLAND','ocean_proximity_NEAR BAY'
                                                              ,'ocean_proximity_NEAR OCEAN'])  # 1st row as the column names

x_test_MinMax_Normalized.to_csv('data_Housing/x_test_MinMax_Normalized.csv', index = False, header=True)


y_train_MinMax_Normalized=pd.DataFrame(data=y_Tr,columns=['median_house_value'])  # 1st row as the column names

y_train_MinMax_Normalized.to_csv('data_Housing/y_train_MinMax_Normalized.csv', index = False, header=True)


y_test_MinMax_Normalized=pd.DataFrame(data=y_Ts,columns=['median_house_value'])  # 1st row as the column names

y_test_MinMax_Normalized.to_csv('data_Housing/y_test_MinMax_Normalized.csv', index = False, header=True)

In [149]:
#df2.to_csv('data/housing-Clean_MinMax_Normalized.csv', index = False, header=True)

In [150]:
df3=df
toNormalize_columns=df3.iloc[:,0:9].columns
#print(null_columns)

print('Columns are:', toNormalize_columns)
display(df3)

from sklearn.preprocessing import StandardScaler
for c in toNormalize_columns:
    scaler = StandardScaler()
    scaler.fit(df3[[c]])
    df3[c]=scaler.transform(df3[[c]])
    print(f'The mean and std values are', df3[c].mean(), ' and ', df3[c].std())


#from sklearn.preprocessing import StandardScaler
#scaler2 = StandardScaler()
#scaler2.fit(df[['balance']])
#df['balance']=scaler2.transform(df[['balance']])

display(df3)
#print(f'The mean and std values are', df['balance'].mean(), ' and ', df['balance'].std())

Columns are: Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value'],
      dtype='object')

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN
0,0.211155,0.567481,0.784314,0.022331,0.019863,0.008941,0.020556,0.539668,0.902266,0,0,1,0
1,0.212151,0.565356,0.392157,0.180503,0.171477,0.067210,0.186976,0.538027,0.708247,0,0,1,0
2,0.210159,0.564293,1.000000,0.037260,0.029330,0.013818,0.028943,0.466028,0.695051,0,0,1,0
3,0.209163,0.564293,1.000000,0.032352,0.036313,0.015555,0.035849,0.354699,0.672783,0,0,1,0
4,0.209163,0.564293,1.000000,0.041330,0.043296,0.015752,0.042427,0.230776,0.674638,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
20635,0.324701,0.737513,0.470588,0.042296,0.057883,0.023599,0.054103,0.073130,0.130105,1,0,0,0
20636,0.312749,0.738576,0.333333,0.017676,0.023122,0.009894,0.018582,0.141853,0.128043,1,0,0,0
20637,0.311753,0.732200,0.313725,0.057277,0.075109,0.028140,0.071041,0.082764,0.159383,1,0,0,0
20638,0.301793,0.732200,0.333333,0.047256,0.063315,0.020684,0.057227,0.094295,0.143713,1,0,0,0
20639,0.309761,0.725824,0.294118,0.070782,0.095438,0.038790,0.086992,0.130253,0.153403,1,0,0,0

The mean and std values are 2.2032332891786052e-17  and  1.0000242256864955
The mean and std values are 0.0  and  1.0000242256864895
The mean and std values are 1.8727482958018144e-16  and  1.000024225686517
The mean and std values are -1.0775187804889116e-16  and  1.000024225686497
The mean and std values are -1.0189953962451049e-16  and  1.0000242256864926
The mean and std values are 5.921189464667501e-17  and  1.0000242256864975
The mean and std values are 4.681870739504536e-17  and  1.0000242256864917
The mean and std values are 1.8727482958018144e-16  and  1.0000242256864973
The mean and std values are -1.1016166445893026e-17  and  1.000024225686498

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN
0,-1.327835,1.052548,0.982143,-0.804819,-0.975228,-0.974429,-0.977033,2.344766,2.129631,0,0,1,0
1,-1.322844,1.043185,-0.607019,2.045890,1.355088,0.861439,1.669961,2.332238,1.314156,0,0,1,0
2,-1.332827,1.038503,1.856182,-0.535746,-0.829732,-0.820777,-0.843637,1.782699,1.258693,0,0,1,0
3,-1.337818,1.038503,1.856182,-0.624215,-0.722399,-0.766028,-0.733781,0.932968,1.165100,0,0,1,0
4,-1.337818,1.038503,1.856182,-0.462404,-0.615066,-0.759847,-0.629157,-0.012881,1.172900,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
20635,-0.758826,1.801647,-0.289187,-0.444985,-0.390860,-0.512592,-0.443449,-1.216128,-1.115804,1,0,0,0
20636,-0.818722,1.806329,-0.845393,-0.888704,-0.925139,-0.944405,-1.008420,-0.691593,-1.124470,1,0,0,0
20637,-0.823713,1.778237,-0.924851,-0.174995,-0.126106,-0.369537,-0.174042,-1.142593,-0.992746,1,0,0,0
20638,-0.873626,1.778237,-0.845393,-0.355600,-0.307379,-0.604429,-0.393753,-1.054583,-1.058608,1,0,0,0
20639,-0.833696,1.750146,-1.004309,0.068408,0.186352,-0.033977,0.079672,-0.780129,-1.017878,1,0,0,0

In [151]:
from sklearn.model_selection import train_test_split
Xo = df3.drop('median_house_value',axis=1).values
y = df3.loc[:, 'median_house_value'].values
X = np.c_[np.ones(len(y)), Xo]
X_Tr, X_Ts, y_Tr, y_Ts = train_test_split(X, y, test_size=0.3, random_state=42) 



best_beta = np.linalg.inv(X_Tr.T @ X_Tr) @ X_Tr.T @ y_Tr

print('The closed form estimates are:', np.round(best_beta,2).tolist())

The closed form estimates are: [0.11, -0.46, -0.46, 0.12, -0.11, 0.38, -0.37, 0.14, 0.65, -0.36, 1.18, -0.05, 0.03]

In [152]:
x_train_zscore_Normalized=pd.DataFrame(data=X_Tr,columns=['for intercept','longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income','ocean_proximity_INLAND'
                                                               ,'ocean_proximity_ISLAND','ocean_proximity_NEAR BAY'
                                                              ,'ocean_proximity_NEAR OCEAN'])  # 1st row as the column names

x_train_zscore_Normalized.to_csv('data_Housing/x_train_zscore_Normalized.csv', index = False, header=True)



x_test_zscore_Normalized=pd.DataFrame(data=X_Ts,columns=['for intercept','longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income','ocean_proximity_INLAND'
                                                               ,'ocean_proximity_ISLAND','ocean_proximity_NEAR BAY'
                                                              ,'ocean_proximity_NEAR OCEAN'])  # 1st row as the column names

x_test_zscore_Normalized.to_csv('data_Housing/x_test_zscore_Normalized.csv', index = False, header=True)


y_train_zscore_Normalized=pd.DataFrame(data=y_Tr,columns=['median_house_value'])  # 1st row as the column names

y_train_zscore_Normalized.to_csv('data_Housing/y_train_zscore_Normalized.csv', index = False, header=True)


y_test_zscore_Normalized=pd.DataFrame(data=y_Ts,columns=['median_house_value'])  # 1st row as the column names

y_test_zscore_Normalized.to_csv('data_Housing/y_test_zscore_Normalized.csv', index = False, header=True)

In [153]:
#df3.to_csv('data/housing-Clean_zscore_Normalized.csv', index = False, header=True)

In [26]:
#1. Read the data and display the fields (and data) of the data using Python Pandas library.
import numpy as np
import pandas as pd
# import numpy as np
df1 = pd.read_csv('data/x_train_MinMax_Normalized.csv', delimiter = ',')

display(df1.info())
display(df1.head())
df2 = pd.read_csv('data/y_train_MinMax_Normalized.csv', delimiter = ',')
display(df2.info())
display(df2.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14448 entries, 0 to 14447
Data columns (total 13 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   for intercept               14448 non-null  float64
 1   longitude                   14448 non-null  float64
 2   latitude                    14448 non-null  float64
 3   housing_median_age          14448 non-null  float64
 4   total_rooms                 14448 non-null  float64
 5   total_bedrooms              14448 non-null  float64
 6   population                  14448 non-null  float64
 7   households                  14448 non-null  float64
 8   median_income               14448 non-null  float64
 9   ocean_proximity_INLAND      14448 non-null  float64
 10  ocean_proximity_ISLAND      14448 non-null  float64
 11  ocean_proximity_NEAR BAY    14448 non-null  float64
 12  ocean_proximity_NEAR OCEAN  14448 non-null  float64
dtypes: float64(13)
memory usage: 1.4 MB

None

,for intercept,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN
0,1.0,0.630478,0.147715,0.666667,0.060990,0.061608,0.034054,0.066930,0.250431,0.0,0.0,0.0,0.0
1,1.0,0.723108,0.026567,0.372549,0.055471,0.082713,0.027916,0.081401,0.162977,0.0,0.0,0.0,1.0
2,1.0,0.419323,0.217853,0.450980,0.040668,0.043606,0.020404,0.046703,0.255355,0.0,0.0,0.0,1.0
3,1.0,0.333665,0.714134,0.254902,0.020550,0.023277,0.008380,0.022529,0.179963,1.0,0.0,0.0,0.0
4,1.0,0.189243,0.555792,1.000000,0.081032,0.109714,0.042686,0.109028,0.193577,0.0,0.0,1.0,0.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14448 entries, 0 to 14447
Data columns (total 1 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   median_house_value  14448 non-null  float64
dtypes: float64(1)
memory usage: 113.0 KB

None

   median_house_value
0            0.368660
1            0.318970
2            0.504742
3            0.249692
4            1.000000

In [27]:
df1['median_house_value']=df2['median_house_value']
display(df1.info())
display(df1.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14448 entries, 0 to 14447
Data columns (total 14 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   for intercept               14448 non-null  float64
 1   longitude                   14448 non-null  float64
 2   latitude                    14448 non-null  float64
 3   housing_median_age          14448 non-null  float64
 4   total_rooms                 14448 non-null  float64
 5   total_bedrooms              14448 non-null  float64
 6   population                  14448 non-null  float64
 7   households                  14448 non-null  float64
 8   median_income               14448 non-null  float64
 9   ocean_proximity_INLAND      14448 non-null  float64
 10  ocean_proximity_ISLAND      14448 non-null  float64
 11  ocean_proximity_NEAR BAY    14448 non-null  float64
 12  ocean_proximity_NEAR OCEAN  14448 non-null  float64
 13  median_house_value          14448 non-null  float64
dtypes: float64(14)
memory usage: 1.5 MB

None

,for intercept,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN,median_house_value
0,1.0,0.630478,0.147715,0.666667,0.060990,0.061608,0.034054,0.066930,0.250431,0.0,0.0,0.0,0.0,0.368660
1,1.0,0.723108,0.026567,0.372549,0.055471,0.082713,0.027916,0.081401,0.162977,0.0,0.0,0.0,1.0,0.318970
2,1.0,0.419323,0.217853,0.450980,0.040668,0.043606,0.020404,0.046703,0.255355,0.0,0.0,0.0,1.0,0.504742
3,1.0,0.333665,0.714134,0.254902,0.020550,0.023277,0.008380,0.022529,0.179963,1.0,0.0,0.0,0.0,0.249692
4,1.0,0.189243,0.555792,1.000000,0.081032,0.109714,0.042686,0.109028,0.193577,0.0,0.0,1.0,0.0,1.000000

In [28]:
df1.sort_values(by=['total_rooms','population','median_income'], inplace=True, ascending=[False, True, False])

In [29]:
x_train_MinMax_Normalized_noniid=df1.drop(['median_house_value'], axis=1)
display(x_train_MinMax_Normalized_noniid.info())
display(x_train_MinMax_Normalized_noniid.head())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14448 entries, 1135 to 4934
Data columns (total 13 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   for intercept               14448 non-null  float64
 1   longitude                   14448 non-null  float64
 2   latitude                    14448 non-null  float64
 3   housing_median_age          14448 non-null  float64
 4   total_rooms                 14448 non-null  float64
 5   total_bedrooms              14448 non-null  float64
 6   population                  14448 non-null  float64
 7   households                  14448 non-null  float64
 8   median_income               14448 non-null  float64
 9   ocean_proximity_INLAND      14448 non-null  float64
 10  ocean_proximity_ISLAND      14448 non-null  float64
 11  ocean_proximity_NEAR BAY    14448 non-null  float64
 12  ocean_proximity_NEAR OCEAN  14448 non-null  float64
dtypes: float64(13)
memory usage: 1.5 MB

None

,for intercept,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN
1135,1.0,0.254980,0.435707,0.196078,0.829773,1.000000,0.800555,1.000000,0.124743,0.0,0.0,0.0,0.0
2974,1.0,0.654382,0.158342,0.137255,0.815199,0.820764,0.434541,0.830291,0.380629,0.0,0.0,0.0,0.0
12830,1.0,0.712151,0.110521,0.019608,0.774404,0.780881,0.263909,0.525571,0.282320,0.0,0.0,0.0,0.0
6466,1.0,0.554781,0.172157,0.156863,0.773259,0.635009,0.360716,0.646275,0.518186,0.0,0.0,0.0,1.0
5865,1.0,0.720120,0.104145,0.058824,0.773157,0.769088,0.371311,0.713370,0.281665,0.0,0.0,0.0,0.0

In [30]:
x_train_MinMax_Normalized_noniid.to_csv('data/x_train_MinMax_Normalized_noniid.csv', index = False, header=True)

In [31]:
y_train_MinMax_Normalized_noniid = df1['median_house_value']

In [32]:
y_train_MinMax_Normalized_noniid.to_csv('data/y_train_MinMax_Normalized_noniid.csv', index = False, header=True)